@import '@/styles/variables';

.html-text {
  position: fixed;
  overflow: hidden;
  left: -10000px;
  top: -10000px;
  visibility: hidden;

  // Ensure text styles are inherited correctly
  font-family: $font-family-base;
  line-height: 1.5;
  white-space: pre-wrap;
}
